DISCORD_TOKEN=coloque_o_token_novo_do_bot_aqui
CLIENT_ID=coloque_o_client_id_da_aplicacao_aqui
GUILD_ID=coloque_o_id_do_seu_servidor_aqui

DASHBOARD_HOST=127.0.0.1
DASHBOARD_PORT=3000
DASHBOARD_PASSWORD=troque-essa-senha
SESSION_SECRET=troque-esse-segredo-grande

NODE_ENV=development
